<div class="deshboard-items">
  <div class="grid">
    <div class="col-4">
      <mat-card align="center">
        <h2 class="title">Total Category</h2>
        <h1 class="title">
          {{ 20 }}
        </h1>
        <a mat-raised-button routerLink="/panel/category">View Category</a>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card align="center">
        <h2 class="title">Total Product</h2>
        <h1 class="title">
          {{ 20 }}
        </h1>
        <button mat-raised-button>View Product</button>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card align="center">
        <h2 class="title">Total Bill</h2>
        <h1 class="title">
          {{ 20 }}
        </h1>

        <button mat-raised-button>View Bill</button>
      </mat-card>
    </div>
  </div>
</div>
